<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            background-color: skyblue;
        }
        #logout_button {
            margin-left: 90%;
        }
        #main {
            width: 900px;
            margin: 100px auto;
            text-align: center;
        }
        #error_message_container ul {
            list-style-type: none;
        }
    </style>
</head>
    <body>
        <a id="logout_button" href="/travels"><button>home</button></a>
        <a href="/logout"><button>logout</button></a>
        <br>
        <div id="main">
            <div id="error_message_container">
                    {% if messages %}
                    <ul class="messages">    
                        {% for message in messages %}    
                            <li style="color: red" >{{ message }}</li>    
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            <h1>Create a new Trip</h1>
            <form action="/create_trip" method=post>
                {% csrf_token %}
                <div class="form-group" style="width:200px; margin: 0 auto;">
                    <label for="destination">destination</label>
                    <input type="text" name="destination" class="form-control" id="">
                </div>
                <div class="form-group" style="width:200px; margin: 0 auto;">
                    <label for="date-picker">start Date</label>
                    <input type="date" name="start_date" class="form-control" id="date-picker">
                </div>
                <div class="form-group" style="width:200px; margin: 0 auto;">
                    <label for="date-picker">end Date</label>
                    <input type="date" name="end_date" class="form-control" id="date-picker">
                </div>
                <div class="form-group" style="width:500px; height:200px; margin: 20px auto;">
                    <label for="date-description">Plan</label>
                    <textarea name="plan" class="form-control" id="description" rows="3"></textarea>
                </div>	
                <input type="submit" value="create trip">
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>